.app {
    width: 600px;
    height: 420px;
    min-width: 600px;
    min-height: 420px;
    border: 1px solid black;
}

.menu {
    background-color: #f4f4f4;
    height: 35px;
    width: 420px;
    min-height: 35px;
    min-width: 420px;
}



.calculator {
    width: 420px;
}

.history {
    width: 180px;
}

.input {
    width: 420px;
    height: 35px;
    min-width: 420px;
    min-height: 35px;
    font-size: 20px;
    background-color: #f4f4f4;
}

.button {
    border: 1px solid grey;
    height: 70px;
    width: 60px;
    min-height: 70px;
    min-width: 60px;
}

.gr {
    color: black;
    background-color: rgb(214, 214, 214);
}

.gr:hover {
    background-color: rgb(178, 178, 178);

}

.gr:active {
    background-color: rgb(138, 137, 137);
}

.gold {
    color: #FFFFFF;
    background-color: rgb(254, 147, 64);
}

.gold:hover {
    background-color: rgb(202, 116, 49);
}

.gold:active {
    background-color: rgb(175, 100, 42);
}

.empty_field {
    color: black;
    background-color: rgb(214, 214, 214);
    border: 1px solid grey;
    height: 70px;
    width: 180px;
    min-height: 70px;
    min-width: 180px;
}

.zero_btn {
    width: 120px;
    min-width: 120px;
}

.table td {
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.table td:hover:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid #f4f4f4;
}

.history {
    overflow-y: auto;
    min-height: 420px;
    height: 420px;
}

.history thead {
    height: 70px;
    border-bottom: 3px;
}

