<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Calculator</title>
    <link rel="stylesheet" href="/css/clearing.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link>
    <link rel="stylesheet" href="/css/credit-calculator.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<div class="container calc-form">
    <div class="row menu">
        <div class="col-1 pt-1 px-0 align-middle text-center menuBtn">
            ≡
            <ul class="list_submenu">
                <li><a href="/">Calculator</a></li>
                <li><a href="/graph">Graph</a></li>
            </ul>
        </div>
        <div class="col-8 mt-1">
            <span class="text-start align-middle">Кредитный калькулятор</span>
        </div>
    </div>

    <div class="form-group row mt-4">
        <div class="col-4">
            Сумма кредита
        </div>
        <div class="col-5">
            <input type="number" class="form-control text-center" id="creditSum">
        </div>
        <div class="col-3">
            <span>₽</span>
        </div>
    </div>

    <div class="form-group row mt-4">
        <div class="col-4">
            Срок кредита
        </div>
        <div class="col-5">
            <input type="number" class="form-control text-center" id="creditTerm">
        </div>
        <div class="col-3">
            <select class="form-select" id="termCoefficient" name="termCoefficient" aria-label="">
                <option selected value="12" th:text="Лет"></option>
                <option value="1" th:text="Mec."></option>
            </select>
        </div>
    </div>

    <div class="form-group row mt-4">
        <div class="col-4">
            Процентная ставка
        </div>
        <div class="col-5">
            <input type="number" step="0.01" class="form-control text-center" id="interestRate">
        </div>
        <div class="col-3">
            <span>%</span>
        </div>
    </div>

    <div class="form-group row mt-4">
        <div class="col-4">
            Тип ежемесячных платежей
        </div>
        <div class="col-5">
            <div class="form-check">
                <input type="radio" value="ann" name="creditType" id="annuityCredit" checked="checked">
                <label class="form-check-label" for="annuityCredit">
                    Аннуитетный
                </label>
            </div>
            <div class="form-check">
                <input type="radio" value="diff" name="creditType"
                       id="differentiatedCredit">
                <label for="differentiatedCredit">
                    Дифференцированный
                </label>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-2 pt-4">
            <button class="btn btn-sm btn-outline-secondary" id="calculateCredit">Рассчитать</button>
        </div>
    </div>

</div>

<div class="container annuity-form" id="annuityCreditResult" style="display: none">
    <div class="row mt-4">
        <div class="col-4">
            Ежемесячный платеж
        </div>
        <div class="col-4" id="monthPay"></div>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            Начисленные проценты
        </div>
        <div class="col-4" id="debt"></div>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            Долг + проценты
        </div>
        <div class="col-4" id="allSum"></div>
    </div>
</div>

<div class="container differentiated-form" id="differentiatedCreditResult" style="display: none">
    <div class="row mt-4">
        <div class="col-4">
            Ежемесячный платеж
        </div>
        <div class="col-4">
            <span id ="diffMonthPayFirst"></span>
            <span> ... </span>
            <span id ="diffMonthPayLast"></span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            Начисленные проценты
        </div>
        <div class="col-4" id="diffDebt"></div>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            Долг + проценты
        </div>
        <div class="col-4" id="diffAllSum"></div>
    </div>

    <table class="table table-bordered table-striped table-href">
        <caption></caption>
        <thead class="table-dark">
        <tr>
            <th class="text-center">
                №
            </th>
            <th class="text-center">
                Сумма платежа, ₽
            </th>
        </tr>
        </thead>
        <tbody id ="tbd">
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/credit-calc.js"></script>
</body>
</html>